.sign-in-and-sign-up {
    display: flex;
    margin: 30px auto;
    width: 850px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}